<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Poll</title>
    <style>
        
        *{
            font-size: 40px;
        }
        .nav{
            background-color: black;
            align-items: center;
            text-align: center;
        }
        .nav a{
            color: white;
            text-decoration: None;
            margin: 40px;
        }
    </style>
</head>
<body> 
     <div class="nav">
        {% if user.is_authenticated %}
            <a href="{% url 'ulogout' %}">logout</a>
            <a href="{% url 'uhome' %}">Home</a>
            <a href="{% url 'ucreate' %}">Create</a>
        {% else %}
        <a href="{% url 'uhome' %}">Home</a>
        <a href="{% url 'usignup' %}">Signup</a>
        {% endif %}
    </div>
    <center>
            <br><br>
            <form method="post">
                {% csrf_token %}
                <input type="text" name="pq" placeholder="enter poll question">
                <br><br>
                <input type="text" name="o1" placeholder="option  1">
                <br><br>
                <input type="text" name="o2" placeholder="option  2">
                <br><br>
                <input type="text" name="o3" placeholder="option  3">
                <br><br>
                <input type="submit" value="submit question">
            </form>
            <br><br>
            {{msg}}
        </center>
</body>
</html>