<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        
          *{
            font-size: 40px;
        }
        .nav{
            background-color: black;
            align-items: center;
            text-align: center;
        }
        .nav a{
            color: white;
            text-decoration: None;
            margin: 40px;
        }
    </style>
</head>
<body>
    <div class="nav">
        {% if user.is_authenticated %}
            <a href="{% url 'ulogout' %}">logout</a>
            <a href="{% url 'home' %}">Home</a>
            <a href="{% url 'create' %}">Create</a>
        {% else %}
        <a href="{% url 'uhome' %}">Home</a>
        <a href="{% url 'usignup' %}">Signup</a>
        {% endif %}
    </div>
    <center>

        <h1>SIGNUP PAGE</h1>
        <form method="POST">
            {% csrf_token %}
            <input type="text" name="un" placeholder="enter user name">
            <br><br>
            <input type="password"  name="pw1" placeholder="password"/>
            <br><br>
            <input type="password"  name="pw2" placeholder="re-enter password"/>
            <br><br>
            <input type="submit" value="submit">
        </form>    
    </center>
    </body>
    </html>
    