<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
        *{
            font-size: 40px;
        }
        .nav{
            background-color: black;
            align-items: center;
            text-align: center;
        }
        .nav a{
            color: white;
            text-decoration: None;
            margin: 40px;
        }
    </style>
</head>
<body>
    <div class="nav">
        {% if user.is_authenticated %}
            <a href="{% url 'ulogout' %}">logout</a>
            <a href="{% url 'uhome' %}">Home</a>
            <a href="{% url 'ucreate' %}">Create</a>
        {% else %}
        <a href="{% url 'uhome' %}">Home</a>
        <a href="{% url 'usignup' %}">Signup</a>
        {% endif %}
    </div>
    <center>
        Question : {{data.pq}}
        <form>

            <br>
            <input type="radio" name="s" value=1>{{data.o1}} </input>
            <input type="radio" name="s" value=2>{{data.o2}} </input>
            <input type="radio" name="s" value=3>{{data.o3}} </input>
            <br>
            <br>
            <input type="submit" value="submit">
        </form>
    </center>
</body>
</html>