
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        *{
          font-size: 40px;
      }
      .nav{
          background-color: black;
          align-items: center;
          text-align: center;
      }
      .nav a{
          color: white;
          text-decoration: None;
          margin: 40px;
      }
      table{
        margin-top: 10px;
        padding: 10px;
      }
  </style>
</head>
<body>
    <div class="nav">
        {% if user.is_authenticated %}
            <a href="{% url 'ulogout' %}">logout</a>
            <a href="{% url 'uhome' %}">Home</a>
            <a href="{% url 'ucreate' %}">Create</a>
        {% else %}
        <a href="{% url 'uhome' %}">Home</a>
        <a href="{% url 'usignup' %}">Signup</a>
        {% endif %}
    </div>
    <center>

        <table border="2">
            {% for d in data %}

            <tr>
                <td>{{d.pq}}</td>
                <td><a href="{% url 'viewresults' i=d.id %}">view results</a></td>
                <td><a href="{% url 'uvote' i=d.id %}" >vote</a></td>
            </tr>
            {% endfor %}
        </table>
    </center>
</body>
</html>