<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
        *{
            font-size: 40px;
        }
        .nav{
            background-color: black;
            align-items: center;
            text-align: center;
        }
        .nav a{
            color: white;
            text-decoration: None;
            margin: 40px;
        }
    </style>
</head>
<body>
    <div class="nav">
        {% if user.is_authenticated %}
            <a href="{% url 'ulogout' %}">logout</a>
            <a href="{% url 'uhome' %}">Home</a>
            <a href="{% url 'ucreate' %}">Create</a>
        {% else %}
        <a href="{% url 'uhome' %}">Home</a>
        <a href="{% url 'usignup' %}">Signup</a>
        {% endif %}
    </div>
    <center>
        <h2>{{data.pq}}</h2>
        <table border="2">
            <th>option</th>
            <th>votes</th>
            <tr>
                <td>{{data.o1}}</td>
                <td>{{data.o1_cnt}}</td>
            </tr>
            <tr>
                <td>{{data.o2}}</td>
                <td>{{data.o2_cnt}}</td>
            </tr>
            <tr>
                <td>{{data.o3}}</td>
                <td>{{data.o3_cnt}}</td>
            </tr>
        </table>
    </center>
</body>
</html>